aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside > img {
  width: 100%;
}

.more-to-read {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid var(--stroke-color);
}

.more-to-read-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.more-to-read-item {
  display: flex;
  gap: 16px;
  height: 72px;
  overflow: hidden;
}

.more-to-read-item img {
  width: 70px;
}

.more-to-read-item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-to-read-item > div > p {
  font: var(--heading3);
  color: var(--text-color-primary);
}
