* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  --font-family: "Archivo", sans-serif;
  --heading1: 800 24px/1.35 var(--font-family);
  --heading2: 700 16px/1.4 var(--font-family);
  --heading3: 800 14px/1.4 var(--font-family);
  --span: 600 14px/1.45 var(--font-family);
  --paragraph: 500 14px/1.6 var(--font-family);
  --tag-span: 500 10px/1.2 var(--font-family);
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.navbar-link {
  font: var(--heading2);
  color: var(--text-color-primary);
  line-height: 0;
}

.link-button {
  font: var(--span);
  color: var(--text-color-secondary);
  text-decoration: none;
}

.link-button:hover {
  color: var(--brand-color-light);
}

.content-tag {
  font: var(--tag-span);
  color: var(--text-color-primary);
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}

.container {
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
