.most-read {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid var(--stroke-color);
}

.section-header p {
  font: var(--span);
  color: var(--text-color-secondary);
}

.section-header a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.news-most-read {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.news-most-read > div {
  height: 234px;
  overflow: hidden;
}

.news-most-read > div:nth-child(1) > .image-container {
  background-image: url(../assets/Image\ 06.png);
  background-position: center;
  background-size: cover;
}

.news-most-read > div:nth-child(2) > .image-container {
  background-image: url(../assets/Image\ 07.png);
  background-position: center;
  background-size: cover;
}

.news-most-read > div:nth-child(3) > .image-container {
  background-image: url(../assets/Image\ 08.png);
  background-position: center;
  background-size: cover;
}

.news-most-read > div:nth-child(4) > .image-container {
  background-image: url(../assets/Image\ 09.png);
  background-position: center;
  background-size: cover;
}

.image-container {
  border-radius: 4px;
  height: 160px;
  position: relative;
  margin-bottom: 8px;
}

.image-container .content-tag {
  position: absolute;
  top: 8px;
  left: 8px;
}

.image-container + p {
  font: var(--heading2);
  color: var(--text-color-primary);
}
